* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.bounce-particle {
  margin-top: 100px;
  position: relative;
  background-color: red;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.config-params {
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 50px;
}